// imports
@import "variables";

@import url($font-loc);

nav {
  font-family: $font-family;
  background-color: $color;

  // reset
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    all: unset;
  }

  // common
  // TODO

  // small screens
  // TODO

  // large screens
  @media (min-width: $breakpoint) {
    // TODO
  }
}

// reset
body {
  margin: 0;
}

// boilerplate
h1 {
  color: red;
  font-size: 3rem;
}
html {
  font-size: 10px;
}
